/* ******************************************************************** */
/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

main {
  width: 80vw;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  /* margin: 0 0 20px 0; */
  padding: 0;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/* Typography */

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

/* Links */

a {
  color: #222;
  text-decoration: none;
  transform: text-decoration 0.5s;
}

/* souligner les liens au survol */
a:hover {
  text-decoration: underline;
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 50px;
  background: #222;
  color: #fff;
  padding: 10px 30px;
  transition: background 0.5s;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #111;
  outline: none;
}

/* ******************************************************************** */

/* Header Section */
#topHead {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

#topHead i,
#topHead a {
  margin-right: 10px;
  font-size: 1.5rem;
}

.auth,
#burger,
#close {
  cursor: pointer;
  transition: transform 0.5s;
}

/* animation de l'icone permettant d'ouvrir le pop up */
.auth:hover,
.icons #burger:hover,
.icons #close:hover {
  transform: scale(1.1);
}

#nav,
#burger,
#close {
  display: none;
}

/* pop up */
#authSection {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.69);
}

.hidden {
  display: none !important;
}

#pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 80%; */
  /* height: 80%; */
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

#popContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popContent a,
#popContent i {
  margin: 10px 0;
  font-size: 1.2rem;
}

/* bar de recherche */
#research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#research input {
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
}

#research button {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #222;
  border-radius: 5px;
  background: #222;
  color: #fff;
  cursor: pointer;
}

#results {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
}

@media all and (max-width: 768px) {
  /* #topHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  } */

  #topHead i,
  #topHead a {
    margin-right: 10px;
    font-size: 1.5rem;
  }

  #topHead {
    transition: all ease 0.5s;
  }

  .desktop {
    display: none;
  }

  #burger,
  #close {
    display: block;
  }

  #nav {
    display: flex;
    position: fixed;
    top: 9vh;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 20vh;
    background: rgba(0, 0, 0, 0.69);
    justify-content: center;
  }

  #nav nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #nav a {
    color: #fff;
    font-size: 1.5rem;
  }

  .icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 2.3rem 0 0; */
    width: 1.25rem;
    height: 2.6rem;
  }

  .icons #burger,
  .icons #close {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    transition: transform 0.5s, opacity 0.5s;
  }

  #close {
    opacity: 0;
    transform: rotate(90deg);
  }

  #burger {
    transform: rotate(0deg);
    opacity: 1;
  }

  /* changement d'icone */
  #burger.open {
    transform: rotate(90deg);
    opacity: 0;
  }

  #close.open {
    opacity: 1;
    transform: rotate(0deg);
  }

  /* animation de l'ouverture du menu */
  #nav.open {
    animation: slideIn 0.5s forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* animation de la fermeture du menu */
  #nav.close {
    animation: slideOut 0.5s forwards;
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* Home Section */

#movie_article,
#series_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#movies_by_genre,
#series_by_genre {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}

/* select */
#genre {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
}

.pagination {
  width: 100%;
  margin: auto;
  text-align: center;
}

.pagination button {
  padding: 8px 16px;
  margin: 2%;
  color: #000;
  cursor: pointer;
}

.pagination .disabled {
  color: #aaa;
  cursor: not-allowed;
}

.movies,
.series {
  display: flex;
  /* flex-wrap: nowrap; */
  overflow: auto;
  justify-content: start;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  max-width: 100%;
}

.moviesWrap,
.seriesWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  margin: 0 10px;
  max-width: 100%;
}

.moviesWrap .movie,
.seriesWrap .serie {
  width: 30%;
  margin: 10px;
  border: 1px solid #222;
  /* centrer les images */
  text-align: center;
}

.movie,
.serie {
  width: 80%;
  /* height: auto; */
  margin-right: 10px;
  border: 1px solid #222;
}

.movie p,
.serie p {
  padding: 10px 10px;
  text-align: justify;
}

.movie img,
.serie img {
  height: 400px;
  /* width: 100%; */
}

.movie h4,
.serie h4 {
  text-align: center;
  margin: 10px 0;
}
